@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

body {
  margin: 0;
  font: 16pt 'Gloria Hallelujah';
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
