@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png) repeat center center fixed;
}

body {
  margin: 0;
  font: 16pt 'Gloria Hallelujah';
  color: #FFF;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
